[package]
authors = ["omnect@conplement.de"]
build = "src/build.rs"
description = "This service allows remote features like: user fw update consent, factory reset, network adapter status and reboot."
edition = "2021"
homepage = "https://www.omnect.io/home"
license = "MIT OR Apache-2.0"
name = "omnect-device-service"
readme = "README.md"
repository = "https://github.com/omnect/omnect-device-service.git"
version = "0.26.3"

[dependencies]
actix-server = "2.3"
actix-web = "4.5"
anyhow = "1.0"
async-trait = "0.1"
azure-iot-sdk = { git = "https://github.com/omnect/azure-iot-sdk.git", tag = "0.13.5", features = [
  "module_client",
] }
cfg-if = "1.0"
dotenvy = "0.15"
env_logger = { version = "0.11", default-features = false }
enum_dispatch = "0.3"
freedesktop_entry_parser = "1.3"
futures = "0.3"
futures-executor = "0.3"
futures-util = "0.3"
glob = "0.3"
lazy_static = "1.4"
log = "0.4"
log-panics = { version = "2", features = ["with-backtrace"] }
modemmanager = { git = "https://github.com/omnect/modemmanager.git", tag = "0.3.3", default_features = false, optional = true }
nix = { version = "0.29", features = ["time"] }
notify = "7.0"
notify-debouncer-full = "0.4"
regex = "1.10"
reqwest = { version = "0.12" }
sd-notify = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_with = "3.8"
signal-hook = "0.3"
signal-hook-tokio = { version = "0.3", features = ["futures-v0_3"] }
strum = "0.26"
strum_macros = "0.26"
systemd-zbus = "0.3"
time = { version = "=0.3", features = ["formatting"] }
tokio = "1"
tokio-stream = "0.1"
toml = "0.8"
uuid = "1.4"
x509-parser = "=0.16"
zbus = { version = "4.4", default-features = false, features = ["tokio"] }

[dev-dependencies]
assert-json-diff = "2.0"
cp_r = "0.5"
mockall = "0.12"
rand = "0.8"
regex = "1"
stdext = "0.3"
omnect-device-service = { path = ".", features = ["mock"] }
tempfile = "3.6"

[features]
default = []
bootloader_uboot = []
bootloader_grub = []
mock = []
modem_info = ["modemmanager"]
