[package]
name = "remote-features-module"
version = "0.6.0"
edition = "2021"
authors = ["Joerg Zeidler <joerg.zeidler@conplement.de>", "Jan Zachmann <jan.zachmann@conplement.de>"]
repository = "git@github.com:ICS-DeviceManagement/remote-features-module.git"
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
azure-iot-sdk = { git = "ssh://git@github.com/ICS-DeviceManagement/azure-iot-sdk.git", tag = "0.8.4", features = ["module_client"] }
sd-notify = { version = "0.4.1", optional = true }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
env_logger = "0.8"
log = "0.4"
time = { version = "0.3", features = ["formatting"] }
notify = "5.0"
notify-debouncer-mini = "0.2"
default-env = "0.1"
lazy_static = "1.4"
tokio = { version = "1.19.2", features = ["full"] }
log-panics = { version = "2", features = ["with-backtrace"]}
futures-executor = "0.3"

[features]
# select if systemd ready and watchdog should be enabled
default = ["systemd"]
systemd = ["sd-notify"]
