[Unit]
Description=factory reset

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/bin/factory_reset.sh /run/factory-reset/systemd-trigger /run/factory-reset/restore-list'
