[Unit]
Description=omnect-device-service
After=network-online.target time-sync.target aziot-identityd.service
Wants=network-online.target time-sync.target aziot-identityd.service
StartLimitBurst=10
StartLimitIntervalSec=120

[Service]
EnvironmentFile=-/etc/omnect/omnect-device-service.env
Type=notify
Restart=always
RestartSec=5
User=omnect_device_service
Group=omnect_device_service
WatchdogSec=30s

ExecStart=/usr/bin/omnect-device-service
ExecStopPost=/bin/sh -c "[ -x /usr/sbin/omnect_service_log.sh ] && /usr/sbin/omnect_service_log.sh aziot-certd \"$$SERVICE_RESULT\" \"$$EXIT_CODE\" \"$$EXIT_STATUS\""

[Install]
WantedBy=multi-user.target
