[Unit]
Description=remote-features-module service
After=network-online.target time-sync.target aziot-identityd.service
Wants=network-online.target time-sync.target aziot-identityd.service
StartLimitBurst=10
StartLimitIntervalSec=120

[Service]
Type=notify
Restart=always
RestartSec=5
User=remote_features
Group=remote_features
WatchdogSec=30s

ExecStart=/usr/bin/remote-features-module

[Install]
WantedBy=multi-user.target
