[Unit]
Description=icsdm-device-service service
After=network-online.target time-sync.target aziot-identityd.service
Wants=network-online.target time-sync.target aziot-identityd.service
StartLimitBurst=10
StartLimitIntervalSec=120

[Service]
Type=notify
Restart=always
RestartSec=5
User=icsdm_device_service
Group=icsdm_device_service
WatchdogSec=30s

ExecStart=/usr/bin/icsdm-device-service

[Install]
WantedBy=multi-user.target
