[Unit]
Description=omnect-reboot-reason
# we cannot use time-sync.target here if we want to guarantee reboot reason
# analysis to happen also in offline case (i.e. w/o any NTP sync)
After=systemd-tmpfiles-setup.service time-set.target
Wants=systemd-tmpfiles-setup.service time-set.target

[Service]
Type=oneshot
ExecStart=+-/bin/sh -c "[ -x /usr/sbin/omnect_reboot_reason.sh ] && omnect_reboot_reason.sh get"
RemainAfterExit=true

User=omnect_device_service
Group=omnect_device_service

[Install]
WantedBy=multi-user.target
