[Unit]
Description=Log shutdown to pstore
DefaultDependencies=no
Requires=poweroff.target halt.target

[Service]
Type=exec
ExecStart=+-/usr/sbin/omnect_reboot_reason.sh log shutdown systemd final
RemainAfterExit=yes

[Install]
WantedBy=poweroff.target halt.target
